// *************************************
//
//   Extends
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

@include keyframes(stackBar) {
    0% {
      height: 0;
      @include opacity(0);
    }
    60% {
    	height: 70px;
    }
    80% {
      height: 50;
      @include opacity(1);
    }
    100% {
    	height: 60px;
    }
  }

  @include keyframes(fadeIn){
  	0% {
  		@include opacity(0);
  	}
  	100% {
  		@include opacity(1);
  	}
  }

  @include keyframes(grow-circle){
    0% {
      @include scale3d(0 0 0);
      // @include opacity(0);
    }
    100% {
      @include scale3d(1.03 1.03 1.03)
      // @include opacity(1);
    }
  }

  @include keyframes(fadeInGrow){
    0% {
      @include scale3d(2,2,2);
      @include opacity(0);
    }
    100% {
      @include scale3d(1,1,1);
      @include opacity(1);
    }
  }

  @include keyframes(fadeOutGrow){
    0%{
      @include scale3d(1,1,1);
      @include opacity(1);
    }
    100%{
      @include scale3d(2,2,2);
      @include opacity(0);
    }
  }

  @include keyframes(growRow){
    0% {
      @include scale3d(1,1,1);
      @include opacity(0);
    }
    70% { @include opacity(1); }
    100% {
      @include scale3d(2,2,2);
      @include opacity(0);
    }
  }