// *************************************
//
//   Mixins
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}


@mixin vertical-align {
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate3d(-50%, -50%, 0);
}
