<section class="main-section--company center-wrapper">
	<h1 class="centered-title">climb world</h1>
	<div class="block-text animateblock" fxAnimation="fade-in-lc">
		<h1 class="title-company-section">historia</h1>
		<p class="text-company">Climbworld es una joven empresa familiar fundada en el año 2011 dedicada a la fabricación de ropa de trabajo y urbana de alta calidad y precio competitivo, utilizando materias primas homologadas de primer nivel.
Las prendas son diseñadas para brindar confort al cliente y con la posibilidad de personalizarlas según sus necesidades.
Cuenta con sala de corte, talleres propios y personal de experiencia altamente capacitado para satisfacer a nuestros clientes, trabajando día a día para una mejora continua.</p>	
	</div>
	<!-- <div class="block-text animateblock" fxAnimation="fade-in-lc">
		<h1 class="title-company-section">cultura</h1>
		<p class="text-company">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.

Nulla wisi laoreet suspendisse hendrerit facilisi, mi mattis pariatur adipiscing aliquam pharetra eget. Aenean urna ipsum donec tellus tincidunt, quam curabitur metus, pretium purus facilisis enim id, integer eleifend vitae volutpat consequat per leo.</p>	
	</div>
	<div class="block-text animateblock" fxAnimation="fade-in-lc">
		<h1 class="title-company-section">valores</h1>
		<p class="text-company">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.

Nulla wisi laoreet suspendisse hendrerit facilisi, mi mattis pariatur adipiscing aliquam pharetra eget. Aenean urna ipsum donec tellus tincidunt, quam curabitur metus, pretium purus facilisis enim id, integer eleifend vitae volutpat consequat per leo.</p>	
	</div> -->
</section>