<section class="main-section--company center-wrapper">
	<h1 class="centered-title">contáctanos</h1>
	<div id="map"></div>
	<div class="block-text animateblock" fxAnimation="fade-in-lc">
		<h1 class="title-company-section">facebook</h1>
		<p class="text-company">Mira los comentarios de nuestros clientes, opiniones y promociones en nuestro facebook</p>	
	</div>
	<div class="block-text animateblock" fxAnimation="fade-in-lc">
		<h1 class="title-company-section">correo</h1>
		<p class="text-company">Puedes realizar los pedidos o consultas a travez de nuestro correo electrónico. </p>	
	</div>
	<div class="block-text animateblock" fxAnimation="fade-in-lc">
		<h1 class="title-company-section">teléfono</h1>
		<p class="text-company">Puedes comunicarte inmediatamente a través de nuestro número telefónico.
</p>	
	</div>
</section>