<div>
	<div class="line-div"> </div>
	<div id="sectionsFooter" class="sections--footer block-footer">
		<h3>Secciones</h3>
		<ul>
			<li><a href="">Inicio</a></li>
			<li><a href="">Empresa</a></li>
			<li><a href="">Productos</a></li>
			<li><a href="">Contacto</a></li>
		</ul>

	</div>
	<div id="generalInformationFooter" class="general-information--footer block-footer">
		<h3>Información General</h3>
		<p>Contáctate con nosotros para más información y personalización de nuestros productos.</p>
	</div>
	<div id="socialNetFooter" class="social-net--footer block-footer">
		<p>Correro: <span>  climbworldindumentaria@gmail.com</span></p>
		<p>Tel: <span>(03464) 481-407</span></p>
	</div>
</div>