<div>
	<div class="line-div"> </div>
	<div class="content-footer center-wrapper">
		<div id="sectionsFooter" class="sections--footer block-footer">
			<h3>Secciones</h3>
			<ul>
				<li><a href="#homeSection">Inicio</a></li>
				<li><a href="#companySection">Empresa</a></li>
				<li><a href="#productsSection">Productos</a></li>
				<li><a href="#contactSection">Contacto</a></li>
			</ul>

		</div>
		<div id="generalInformationFooter" class="general-information--footer block-footer">
			<h3>Información General</h3>
			<p>Contáctate con nosotros para más información y personalización de nuestros productos.</p>
		</div>
		<div id="socialNetFooter" class="social-net--footer block-footer">
			<p>Correo: <span>  climbworldindumentaria@gmail.com</span></p>
			<p>Tel: <span>(03464) 481-407</span></p>
			<p>Dirección: <span>Rosario 1965 - Chabás - Santa Fe </span></p>
			<p class="autor">Diseñado y desarrollado por <a href="https://www.facebook.com/nico.c123" target="_blank"> Nicolás Croce</a> </p>
		</div>
	</div>
</div>