<div class="header-section">
	<section class="header">
		<div class="center-wrapper">
			<h1>CLIMBWORLD INDUMENTARIA PROFESIONAL</h1>
			<h2>Hacemos realidad tus ideas</h2>
			<img class="img-logo">
		</div>
		
		<div class="line-div"> </div>
		<div class="block-right"> 
			<div class="triangulo-bottom-right"> </div>
			<div class="content-aside">
				<h3 class="title-aside">¿Por qué elegirnos?</h3>
				<p>Innovamos para que trabajes con mayor comodidad, fabricamos productos de alta durabilidad, bajo estrictos controles de calidad,
				con diseño estándar o personalizado, superándonos día a día para seguir creciendo juntos.</p>
			</div>
		</div>
	</section>
</div>
<section class="main-section--home center-wrapper">
	<div id="blockRightMobile" class="block-right"> 
		<div class="triangulo-bottom-right"> </div>
		<div class="content-aside">
			<h3 class="title-aside">¿Por qué elegirnos?</h3>
			<p>Innovamos para que trabajes con mayor comodidad, fabricamos productos de alta durabilidad, bajo estrictos controles de calidad,
			con diseño estándar o personalizado, superándonos día a día para seguir creciendo juntos.</p>
		</div>
	</div>
	<div class="content-carousel">	
		<div class="carousel">
			<div id="mask" class="mask img0-selected">
				<div class="img1 fade-in-grow"></div>
				<div class="img2 fade-out-grow"></div>
				<div class="img3 fade-out-grow"></div>
			</div>	
		</div>
		<div class="controllers">
			<div class="triangulo-top"> </div>
			<div class="next icon-chevron-right"></div>			
			<div class="prev icon-chevron-left"></div>
		</div>	
	</div>
	<div class="arrow-down">
		<span id="goToCompany" class="icon-chevron-down"><span></span></span>
	</div>
</section>