<section class="main-section--home center-wrapper">
	<section class="products-important">
		<h1 class="centered-title">ofertas</h1>
		<ul class="list-products">
			<li id="product1" class="product-element most-important">
				<img src="./img/img-1.jpg" alt="">
				<div class="hover-element"></div>
			</li>
			<li id="product2" class="product-element most-important">
				<img src="./img/img-1.jpg" alt="">
				<div class="hover-element"></div>
			</li>
			<li id="product3" class="product-element most-important">
				<img src="./img/img-1.jpg" alt="">
				<div class="hover-element"></div>
			</li>
			<li id="product4" class="product-element most-important">
				<img src="./img/img-1.jpg" alt="">
				<div class="hover-element"></div>
			</li>
		</ul>
	</section>
	<section class="products-section">
		<h1 class="centered-title">PRODUCTOS</h1>
		<ul class="list-products">
			<li id="productI1" class="product-element">
				<img src="./img/img-1.jpg" alt="">
				<div class="hover-element">
					<img class="img-buy" src="" alt="">
				</div>
			</li>
			<li id="productI2" class="product-element">
				<img src="./img/img-1.jpg" alt="">
				<div class="hover-element">
					<img class="img-buy" src="" alt="">
				</div>
			</li>
			<li id="productI3" class="product-element">
				<img src="./img/img-1.jpg" alt="">
				<div class="hover-element">
					<img class="img-buy" src="" alt="">
				</div>
			</li>
			<li id="productI4" class="product-element">
				<img src="./img/img-1.jpg" alt="">
				<div class="hover-element">
					<img class="img-buy" src="" alt="">
				</div>
			</li> 
			<li id="productI5" class="product-element">
				<img src="./img/img-1.jpg" alt="">
				<div class="hover-element">
					<img class="img-buy" src="" alt="">
				</div>
			</li>
		</ul>
	</section>
</section>
