// *************************************
//
//   Content
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

h1.centered-title { 
	text-align: center; margin: 80px 0; font-size: 30px; text-transform: uppercase;
	&:before { content: ""; border: 1px solid; position: absolute; width: 30%; left: $width_wrapper_header; margin-top: 23px; }
	&:after { content: ""; border: 1px solid; position: absolute; width: 30%; right: $width_wrapper_header; margin-top: 23px; }
}

body { background: #EBEBE8; }

.main-section--home {
	width: $width_wrapper; margin: 0 auto;
	.content-carousel {
		position: relative; height: 300px; width: 620px; margin-top: $width_wrapper_header;
		.carousel {
			background: #797979; overflow: hidden;
			.mask {
				width: calc(100% * 3.1);
				&.img0-selected {
					div { @include translate3d(0, 0, 0); }
				}
				&.img1-selected {
					div { @include translate3d(-100%, 0, 0); }
				}
				&.img2-selected {
					div { @include translate3d(-200%, 0, 0); }
				}
				div {
					width: 620px; height: 300px; display: inline-block; background-size: cover; @include transition (all, .4s ease-in); 
					margin-right: -7px;
					&.img1 { background: url(../img/img-1.jpg); background-size: cover; background-repeat: no-repeat;}
					&.img2 { background: url(../img/img-1.jpg); background-size: cover; background-repeat: no-repeat;}
					&.img3 { background: url(../img/img-1.jpg); background-size: cover; background-repeat: no-repeat;}
				}
			}
		}
		.controllers {
			position: absolute; right: -20px; top: calc(50% - 20px);
			.prev, .next {  
				width: 30px; height: 30px; background: #4A4A4A; border: 1px solid #404040; color: #B7B7B7; text-align: center; font-weight: bold;
				@include transition (all .2s ease-in);
				&:hover { background: #888686; cursor: pointer; @include scale3d(1.03 1.03 1.03); background: #fdca2e; color: #000000; }
			}
		}
	}
}

.triangulo-top { width: 0; height: 0; border-bottom: 5px solid #000000; border-right: 20px solid transparent; 
	position: absolute; left: 30%; top: -5px; 
}

.list-products {
	overflow: auto; margin-bottom: 30px;
	.product-element {
		background-size: cover; background-repeat: no-repeat; position: relative;
		@include column(1/3, $gutter: 3, $cycle: 3); margin-bottom: 3%; cursor: pointer; overflow: hidden;
		
		img{ @include transition(all .3s ease-out); }
		.hover-element { 
			width: 100%; height: 100%; background: rgba(253, 202, 46, 0.24); position: absolute; top: 0; 
			opacity: 0; @include transition(all .3s ease-out);
			.img-buy { height: 100%; background-size: 20%; background-repeat: no-repeat; background-position: center center; 
				background-position: center center; 
				background-image: url(../img/icono-carrito-tititnins.png); 
			}
		}
		&:hover {
			.hover-element { opacity: 1; }
			img{ @include scale3d(1.05, 1.05, 1.05); }
		}
	}
}

//most important
.list-products .product-element.most-important { @include column(1/4, $gutter: 2, $cycle: 4); }


//*****************************************************************************************************************************
//											COMPANY
//*****************************************************************************************************************************
	
.block-text {
	width: 60%; margin: 5%;
	.title-company-section { font-size: toem(30px); text-transform: uppercase; margin-bottom: 30px; }
	.text-company { line-height: 2; }
}

//*****************************************************************************************************************************
