// *************************************
//
//   Header
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Nav
// -------------------------------------

.header {
 	background: url(../img/banner.jpg); height: 150px; position: relative;
 	h1 { color: $first_color_Yellow; padding: 20px 0 0 50px; @include opacity(.8); font-family: 'Indie Flower', cursive; }
 	.img-logo { content: url(../img/logo-principal.png); right: 30px; width: 140px; position: absolute; top: 30px; }
	.nav-bar { 
		list-style-type:none; position: absolute; bottom: 0; text-transform: uppercase;
		li { 
			float:left; margin-left:30px; 
			a {
				display:block; color:#EAEAEA; padding: 15px 20px; position:relative;
			    
			    &:before {
			    	@include transition(all .3s ease-in);
			    	content:""; display:block; position:absolute; left:50%; bottom:0; 
				    height:2px; width:0; background: $first_color_Yellow;
			    }

			    &:hover {
			    	color: $first_color_Yellow;
				    &:before {
					   	width:100%; left:0; color: $first_color_Yellow
					}
				}

				&.active {
			    	color: $first_color_Yellow; font-weight: 600;
				    &:before {
					   	width:100%; left:0; color: $first_color_Yellow
					}
				} 
			}
		}
	}
}