/*
  =========================================

    BASE

    -> Base-level tags

	=========================================
*/

// -------------------------------------
//   Base
// -------------------------------------
*,
*:before,
*:after {
  box-sizing: border-box;
}

* { margin: 0; padding: 0; text-decoration: none; font-family: 'Titillium Web', sans-serif;  line-height: 1; }

body,
html {
  font: $font;
  color: $font-color;
width: 100%; height: 100%;
}

body {
  background-color: $background;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  outline: 0;
}

:focus {outline: none;}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

blockquote {
  margin: 0;
}

menu,
nav {
	ul,
	li {
    margin: 0;
    padding: 0;
  }
}

hr {
  width: 100%;
  height: 20px;
  margin: 0 0 20px;
  border: none;
  border-bottom: 1px dashed;
}

button {
  &:focus {
    outline: none;
  }
}

a {
	text-decoration: none;
  transition: all $transition-duration $transition-timing;
	&:visited { text-decoration: none; }
	&:link { text-decoration: none; }
	&:hover { outline: none; }
	&:active { outline: none; }
	&:focus { outline: none; }
}


.center-wrapper { @include center-wrapper(); }

#map { height: 450px; position: absolute !important; overflow: hidden; max-width: 450px; right: 0; top: 20%; border: 3px solid rgba(30, 30, 29, 0.53); border-radius: 10px; width: 100%; }