// *************************************
//
//   Content
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

h1.centered-title {
	text-align: center; margin: toem(80px, 40px) 0px; font-size: toem(40px); color: rgb(148, 148, 148);
	text-shadow: black 1px 1px , #737070 2px 0px; text-transform: uppercase;
	&:before { content: ""; border: 1px solid; position: absolute; width: 25%; left: 0; margin-top: 32px; box-shadow: 3A3A3A 1px 1px 1px, #737070 2px 0px; text-transform: uppercase; }
	&:after { content: ""; border: 1px solid; position: absolute; width: 25%; right: 0; margin-top: 32px; box-shadow: 3A3A3A 1px 1px 1px, #737070 2px 0px; text-transform: uppercase; }
}


.bg-header-mobile {
	display: none; position: fixed; background: rgba(25, 25, 25, 0.59); width: 100%; z-index: 11; padding: 15px;
	transition: all .4s ease;
	&.hidden-bg { background: transparent; }
	&.hidden { transform: translate3d(0,-100%,0); }
}

.no-scroll { overflow: hidden !important; }

main { height: 100%; }
#homeSection { height: 100%; }
.main-section--home {
	.block-right { display: none; }
	width: $width_wrapper; margin: 0 auto; position: relative; height: calc(100% - 200px);
	.content-carousel {
		position: relative; width: 620px; margin-top: 3em;
		.carousel {
			background: #797979; overflow: hidden;
			.mask {
				width: calc(100%); height: 300px; overflow: hidden; position: relative;
				// &.img0-selected {
				// 	div { transform: translate3d(0, 0, 0); }
				// }
				// &.img1-selected {
				// 	div { transform: translate3d(-100%, 0, 0); }
				// }
				// &.img2-selected {
				// 	div { transform: translate3d(-200%, 0, 0); }
				// }
				div {
					width: 620px; height: 100%; position: absolute; background-size: cover; transition: all, .4s ease-in;
					margin-right: -7px;
					&.img1 { background: url(../img/img-11.jpg); background-size: cover; background-repeat: no-repeat; width: 100%;}
					&.img2 { background: url(../img/img-22.jpg); background-size: cover; background-repeat: no-repeat; width: 100%;}
					&.img3 { background: url(../img/img-33.jpg); background-size: cover; background-repeat: no-repeat; width: 100%;}
				}
			}
		}
		.controllers {
			position: absolute; right: -20px; top: calc(50% - 20px);
			.prev, .next {
				width: 30px; height: 30px; background: #4A4A4A; border: 1px solid #404040; color: #B7B7B7; text-align: center;
				font-weight: bold; display: table;
				transition: all .2s ease-in;
				&:hover { background: #888686; cursor: pointer; transform: scale3d(1.03 1.03 1.03); background: #fdca2e; color: #000000; }
				&:before { display: table-cell; vertical-align: middle; }
			}
		}
	}
}

.fade-in-grow {
	animation: fadeInGrow 1s ease forwards;
}

.fade-out-grow {
	animation: fadeOutGrow 1s ease forwards;
}

.block-right {
	width: 30%; background: #E2E0D7; position: absolute; right: $width_wrapper_header; top: 130px; z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.53) 3px 3px 15px; height: 366px;
	.content-aside {
		padding: 40px;
		// transition: all .2s ease;
		.title-aside { text-transform: uppercase; text-align: center; font-size: toem(20px); margin-bottom: 40px; font-weight: 700; }
	}
}

.triangulo-top { width: 0; height: 0; border-bottom: 5px solid #000000; border-right: 20px solid transparent;
	position: absolute; left: 30%; top: -5px;
}

.list-products {
	overflow: auto; margin-bottom: 30px;
	.product-element {
		background-size: cover; background-repeat: no-repeat; position: relative; box-shadow: black 3px 3px 10px;
		@include column(1/4, $gutter: 4, $cycle: 4); margin-bottom: 3%; cursor: pointer; overflow: hidden; font-size: toem(20px);
		.title-product { text-align: center; padding: 10px 0; text-transform: uppercase; background: #3a3a3a; font-size: toem(16px);
		font-weight: bold; border: 2px solid rgba(0, 0, 0, 0.8); color: white; position: relative; z-index: 10; 
		}
		max-height: 190px; /*font-size: toem(0);*/ background: #f3f3f3;
		transition: all .3s ease;
		.urlPay { transition: none; background: #73A773; }
		/*.img-buy { display: none; }*/
		// .title-product { font-size: 0; }
		&.is-opened { 
			max-height: 700px; font-size: toem(20px);
			&:first-of-type { margin-top: 0; }
			ul { padding: 10px; font-size: toem(14px); }
			.precio { padding: 10px; line-height: 1; font-size: toem(20px); }
			.urlPay { 
				position: relative; z-index: 2; background: rgba(23, 115, 23, 0.68); color: white; 
				display: block; padding: 10px 0; text-align: center; font-weight: bold; text-transform: uppercase;
				&:hover { background: rgba(23, 115, 23, 0.8); }
			}
			.hover-element { opacity: 1; }
			&:hover {
				img{ transform: none; }
			}
		}
		img{ transition: all .3s ease-out; width: 103%; }
		.hover-element {
			width: 100%; height: 100%; position: absolute; top: 0;
			opacity: 0; transition: all .3s ease-out;
		}

		.img-buy { display: table; width: 100%; height: 74%; font-size: toem(30px); color: white; background: rgba(0, 0, 0, 0.06); }
		.icon-zoom_out_map { color: white; font-size: 50px; position: relative; z-index: 10; opacity: 1; text-align: center; vertical-align: middle; display: table-cell; text-shadow: 2px 2px 2px #000000; }

		&:hover {
			img{ transform: scale3d(1.05, 1.05, 1.05); }
		}
	}
}

//most important
.list-products .product-element.most-important { @include column(1/3, $gutter: 2, $cycle: 3); }


//*****************************************************************************************************************************
//											COMPANY
//*****************************************************************************************************************************

.block-text {
	width: 60%; margin: 5%; margin-left: -25%;
	.title-company-section { font-size: toem(30px); text-transform: uppercase; margin-bottom: 30px; font-weight: 700; }
	.text-company { line-height: 2; }
}

//*****************************************************************************************************************************

//*************************************    SECCIÓN  PRODUCTS    *************************************


//************************************************************************************



//*****************************************************************************************************************************
//											header
//*****************************************************************************************************************************

	   //  width: 100%;
    // top: 0;
    // position: fixed;
    // background: rgba(0, 0, 0, 0.71);
    // z-index: 999;

//*****************************************************************************************************************************

.content-section {
	overflow: hidden;
	&:nth-child(even) { background: #E2E0D7; box-shadow: 0px 0px 10px black; }
	&:nth-child(1) { position: relative; }
}

#contactSection { margin-bottom: 0 }

.arrow-down {
	 font-size: 40px; text-align: center; width: 100%; position: relative; line-height: 4; color: #5F5F5F; display: block; height: calc(100% - 300px);
	 display: table;
	span {
		cursor: pointer; /*text-shadow: 1px 2px 4px #565656;*/
		display: table-cell; vertical-align: middle;
		&:before { border: 3px solid #5F5F5F; border-radius: 50px; }
		// animation: growRow 1.5s linear infinite;
	}
}

.menu-mobile {
	height: 200%; position: fixed; z-index: 10; width: 70%; background: rgb(24, 24, 26);
	transition: all .4s ease;
	opacity: 1;
	&.hidden {
		transform: translate3d(-100%, 0, 0);
		opacity: 0;
	}
	.img-logo-mobile { content: url(../img/logo-principal.png); right: toem(30px); width: toem(140px); position: absolute; top: 30px; }
}

// .bt-mnenu { height: 20px; width: 20px; position: fixed; top: 20px; left: 20px; z-index: 11; background: red; }

.nav-bar-menu {
	list-style-type:none; position: absolute; width: 100%; text-align: center; text-transform: uppercase;
	margin-top: 20%;
	li {
		a {
			display:block; color:#EAEAEA; padding: 15px 20px; position:relative; box-shadow: 0px -10px 7px -7px rgba(253, 202, 46, 0) inset;
		    transition: all .3s ease-in .1s;
		    &:before {
		    	transition: all .3s ease-in;
		    	content:""; display:block; position:absolute; left:50%; bottom:0;
			    height:2px; width:0; background: $first_color_Yellow;
		    }

		    &:hover {
		    	color: $first_color_Yellow; box-shadow: 0px -10px 7px -7px #FDCA2E inset;
			    &:before {
				   	width:100%; left:0; color: $first_color_Yellow
				}
			}

			&.active {
		    	color: $first_color_Yellow; font-weight: 600; box-shadow: 0px -10px 7px -7px #FDCA2E inset;
			    &:before {
				   	width:100%; left:0; color: $first_color_Yellow
				}
			}
		}
	}
}

.bt-mnenu {
	width: 25px; cursor: pointer; z-index: 101; transition: all .3s ease;
	div	{
		transition: all .3s ease;
		height: 2px; background: #FDCA2E; margin-bottom: 5px;
		&:last-child { margin: 0; }
	}
	&:hover div { background: #FDCA2E; }
	&.opened {
		transform: rotate3d(0, 0, 1, 180deg);
		div {
			background: #FDCA2E;
			&:nth-child(1){ transform: rotate3d(0, 0, 1, 31deg) translate3d(0, 3px, 0); margin-left: 10px; width: 18px; }
			&:nth-child(3){ transform: rotate3d(0, 0, 1, -31deg) translate3d(0, -3px, 0); margin-left: 10px; width: 18px; }
			// &:nth-child(2){ opacity: 0; }
		}
	}
}


.swiper-container { width: 100%; height: 100%;  }
.swiper-slide { overflow: hidden; }


// .options-open {
// 	.main {
// 		transform: translate3d(-30%, 0, 0);
// 		// transition: all, .2s, ease;
// 		opacity: 0.7;
// 	}
// }
// .options-close .main {
// 	transform: translate3d(0, 0, 0);
// 	opacity: 1;
// }
