// *************************************
//
//   Footer
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

footer {
	background: url(../img/bg-footer-noise.jpg); width: 100%; color: #F3F3F3;
	div { height: 100%; overflow: auto; }
	.sections--footer { 
		@include span(3/15); 
		li { margin-bottom: 5px; color: #D8D8D8;
			&:hover {
				font-weight: 700; 
			}
			a { color: #D8D8D8; }
		}
	}
	.general-information--footer { @include span(5/15); }
	.social-net--footer { @include span(7/15); }
	.block-footer { 
		padding: 20px;
		&:first-of-type { padding-left: 0; }
	}
	h3 { margin-bottom: 10px;  font-family: 'Quicksand', sans-serif; text-transform: uppercase; font-weight: 600; color: #F3F3F3; }
	.line-div { background: url(../img/line.png); height: 10px; width: 100%; }
	#socialNetFooter p { 
		margin-bottom: 10px;
		&:last-of-type { margin: 0; }
	}
}

.autor { 
	margin-top: 50px !important;
	    font-weight: 100; color: #a2a2a2;
	a { color: #fff38c; }
}