.modal {
/*    position: fixed; background: rgba(0, 0, 0, 0.7); width: 100%; height: 100%;
    top: 0; z-index: 1001; opacity: 0; visibility: hidden;
    transition: opacity .4s ease-out;
    .modal-border {
        background: rgba(36, 36, 36, 0.4); width: 82%;
        @include vertical-align;
        padding: 30px 10px;
        left: 0; right: 0; margin: 0 auto; border-radius: 10px;
        transition: all .3s ease-out;
        .modal-content {
            background: #eaeaea; height: 95%; width: 95%; border: 2px solid #fdca2e; border-radius: 10px; overflow: hidden;
            padding: 5%; margin: 0 auto;
            .title-modal { text-align: center; font-size: 3em;
                text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.46);
                border-bottom: 1px solid rgba(58, 58, 58, 0.39);     padding-bottom: 3%;
            }
            h3 { margin: 2% 0; font-size: 2em; }
            .detail { margin: 3% 0; }
        }
        .modal-block {
            width: 50%; display: inline-block;
            &:first-of-type { float: left; }
            img { width: 75%; float: right; }
            .precio { margin-top: 15%; }
            &:last-of-type { margin-top: 20px; }
        }*/

        /*opacity: 0; visibility: hidden;*/
    }

    /*transform: translate3d(0,-10%,0);*/
    &.opened {
        opacity: 1; visibility: visible;
        /*.modal-content { transform: none !important; }*/
    }
