<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <title>Project</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300|Indie+Flower|Quicksand:400,700&subset=latin,latin-ext'
        rel='stylesheet' type='text/css'>
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/styleIcons.css">
</head>

<body class="">
    <!-- Include of main header -->
    <!-- End of main header -->
    <header>
        <ul class="nav-bar">
            <li><a id="home" class="bt-section active" href="#homeSection" title="">Inicio</a>
                <li><a id="company" class="bt-section" href="#companySection" title="">Empresa</a>
                    <li><a id="products" class="bt-section" href="#productsSection" title="">Productos</a>
                        <li><a id="contact" class="bt-section" href="#contactSection" title="">Contacto</a>
        </ul>
    </header>
    <div class="bg-header-mobile">
        <div id="btMenu" class="bt-mnenu">
            <div class="first-line"></div>
            <div class="second-line"></div>
            <div class="third-line"></div>
        </div>
    </div>
    </div>
    <div id="menuMobile" class="menu-mobile hidden">
        <!-- <img class="img-logo-mobile"> -->
        <ul class="nav-bar-menu">
            <li><a id="homeMobile" class="bt-section active" href="#homeSection" title="">Inicio</a></li>
            <li><a id="companyMobile" class="bt-section" href="#companySection" title="">Empresa</a></li>
            <li><a id="productsMobile" class="bt-section" href="#productsSection" title="">Productos</a></li>
            <li><a id="contactMobile" class="bt-section" href="#contactSection" title="">Contacto</a></li>
        </ul>
    </div>
    <!-- Include of main header -->
    <!-- End of main header -->

    <!-- Include of main content -->
    <main role="main" id='main'>
        <div id="homeSection" class="content-section">
            <!-- HTML a cargar -->
        </div>
        <div id="companySection" class="content-section">
            <!-- HTML a cargar -->
        </div>
        <div id="productsSection" class="content-section">
            <!-- HTML a cargar -->
        </div>
        
        <!-- <div id="map"></div> -->
        <div id="contactSection" class="content-section">
            <!-- HTML a cargar -->
        </div>
        <footer>
            <div id="footerSection" class="footer-section">
                <!-- HTML a cargar -->
            </div>
        </footer>
    </main>
    <!-- Include of main content -->
    <!-- End of main content -->

    <script src="js/bundles/min/jquery.min.js"></script>
    <script src="js/bundles/min/swiper.jquery.min.js"></script>
    <script src="./js/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- endbuild -->
</body>

</html>